html,
body {
  height: 100%;
  margin: 0;
  background-color: rgb(247, 247, 247);
}

.body__inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: auto;
  font-size: 18px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h2 {
  font-size: 2rem;
}

h3{
  text-align: left;
  margin-left: 10rem;
}

h1,
h2,
h3 {
  color: #6d6d6d;
  font-weight: 200;
}

.content {
  flex: 1 0 auto;
  margin: 1rem auto;
  text-align: center;
  width: 55%;
}

.content__card {
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 2%;
  margin: 2rem;
  padding: 3rem 5rem;
}

.content__form {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.input__form {
  display: flex;
  justify-content: center;
}

label{
    font-size: 1.5rem;
    margin-right: 1rem;
  }

.content .inp-text {
  font-size: 1.5rem;
  font-weight: 200;
  text-align: center;
  color: rgb(82, 80, 80);
  border-radius: 2%;
  border: #d1d2d6 0.3rem solid;
  width: 6rem;
}

.content p {
  font-size: 1.5rem;
  font-weight: 200;
  text-align: center;
  color: rgb(82, 80, 80);
  margin: 1rem 1rem;
}

.btn-change {
  color: white;
  background-color: rgb(236, 236, 236);
  border: none; 
  border-radius: 50%;
  color: rgb(82, 80, 80);
  font-weight: 200;
  font-size: 1.3rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  margin: 0.3rem 0.1rem;
  transition-property: background-color,color;
  transition-duration: 0.5s;
}

.btn-remove {
  color: white;
  background-color: rgb(255, 255, 255);
  border: solid 0.2rem #f15065; 
  border-radius: 50%;
  color: rgb(82, 80, 80);
  font-weight: 200;
  font-size: 1.3rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  margin: 0.3rem 0.1rem;
  transition-property: background-color,color;
  transition-duration: 0.5s;
}

.btn-change:hover {
  background-color: rgb(82, 80, 80);
  color: white;
}

.btn-remove:hover {
  background-color: rgb(82, 80, 80);
  color: #f15065;
}


.li__inner {
  display: flex;
  margin: 0.4rem;
}

li{
  margin-left: 10rem;
  font-size: 1.3rem;
  color: rgb(82, 80, 80);
}

footer {
  flex: 0 0 auto;
  color: #bdbdbe;
  border-top: #d7d7d7 0.01rem solid;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
}

footer p {
  margin: 0.7rem;
}
