html, body {
  height: 100%;
  margin: 0;
}

.body__inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: auto;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: rgb(247, 247, 247);
}

h1, h2, h3 {
  color: #6d6d6d;
  font-weight: 200;
}

.content {
  flex: 1 0 auto;
  margin: 1rem auto;
  text-align: center;
  width: 52%;
}

.content__card {
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 2%;
  margin: 3rem;
  padding: 5rem;
}

.content__form {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.content__input {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.content__answer {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.content button {
  color: white;
  background-color: rgb(88, 140, 218);
  border: #d1d2d6;
  border-radius: 2%;
  font-size: 2.3rem;
  margin: 1rem auto;
  padding: 1rem 2rem;
}

.content p {
  margin: 0.5rem 0.2rem;
  padding: 1rem 0;
  color: rgb(82, 80, 80);
  font-weight: 200;
  font-size: 1.8rem;
  text-align: center;
}

footer {
  flex: 0 0 auto;
  color: #bdbdbe;
  border-top: #d7d7d7 0.01rem solid;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
}

footer p {
  margin: 0.7rem;
}
